#menu{
	width: 100%;
	height: 50px;
}
#menu ul{
	background-image: url("../img/Dark-Asfalt-Pattern-for-Website-Background.jpg");
	list-style-type: none;
	text-align: center;
}

#menu ul li{
	color: #fff;
	display: inline-table;
	width: 220px;
	height: 50px;
	line-height: 50px;
	position: relative;
}

#menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	font-size: 20px;
	display: block;
}

#menu ul li a:hover{
	background: #f1f1f1;
	color: orange;
}

#menu ul li > .sub-menu{
	display: none;
	position: absolute;
}

#menu ul li:hover .sub-menu{
	display: block;
}